{% set name = moduleName ~ '-' ~ componentName  %}
{{'{%'}} block {{name|u.snake}} {{'%}'}}
    <div class="{{name|u.snake|slug}}">
        PURE Component {{name|u.snake|slug}}
    </div>
{{'{%'}} endblock {{'%}'}}
