{% set blockName = 'element' ~ elementName %}
{{'{%'}} block {{blockName|u.snake}} {{'%}'}}
    <div class="cms-element-{{elementName|u.snake|slug}}">
        {{'{%'}} block element_{{elementName|u.snake}}_inner {{'%}'}}
            <div class="cms-el-dailymotion">
                PURE Custom Element
            </div>
        {{'{%'}} endblock {{'%}'}}
    </div>
{{'{%'}} endblock {{'%}'}}
